@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Staatliches&display=swap');

@media only screen and (max-width: 100%){
    html,
    body{
    width:100%;
    height:100%;
    overflow-x:hidden;
    }
}

body {
    font-family: 'Catamaran', sans-serif; 
}

#language-toggle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#toggle-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.header {
    background-image: url('../images/undraw/lins.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
}

#project {
    padding-bottom: 150px;
    background: linear-gradient(80deg, rgba(255, 255, 255, 0.1966036414565826) 0%, rgba(249, 249, 249, 1) 100%);
}

#resume {
    margin-top: 50px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#contact {
    background-image: url('../images/undraw/footer.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.full-screen {
    padding: 4rem 0;
    padding-bottom: 100px;
}

.small-text {
    color: #170055;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    letter-spacing: 0.2px;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-right: 20px;
    justify-content: center;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}

a:hover {
    color: #3E00FF !important;
}

.navbar-brand .uil {
    font-size: 24px;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #787a7c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #000000;
    font-size: 48px;
    margin: 10px 0;
    font-weight: bold;
    letter-spacing: -1.5px;
    line-height: 1;
}

h2 {
    color: #000000;
    font-size: 2.4em;
    font-weight: bold;
}

.project h2 {
    font-size: 2.6em;
    text-align: center;
}

span.project-small {
    font-size: 32px;
    font-weight: none;
}

h3 {
    color: #170055;
}

h3,
b,
strong {
    font-weight: bold;
}

.custom-btn {
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    padding: 13px 29px;
    font-size: 14px;
    line-height: normal;
    overflow: hidden;
    transition: all 0.4s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.custom-btn:hover {
    color: #3E00FF;
}

.custom-btn.custom-btn-bg {
    background: #ffffff;
    color: #000000;
    /* border: solid 1px black; */
    box-shadow: 0 0.5px 30px 0 rgb(0 0 0 / 12%);
}

.custom-btn.custom-btn-bg:hover {
    background: #3E00FF;
    color: #ffffff !important;
}

.animated {
    position: relative;
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-width: 450px;
    position: relative;
}

.animated-item {
    color: #3E00FF;
}

.animated-item {
    font-size: 48px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
    animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
    animation-delay: 4s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(5px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.navbar {
    position: inherit;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
    transition: top 0.3s;
    /* border-bottom: solid 1px #495057; */
}

.navbar[class*="-unpinned"] {
    transform: translate(0, -150%);
}

.navbar[class*="-pinned"] {
    transform: translate(0, 0);
}

.navbar[class*="headroom--not-top"] {
    background: #ffffff;
    /* border-bottom: 1px solid #4a4a49; */
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0 20px;
}

.nav-link {
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.nav-link span {
    position: relative;
    display: inline-block;
    /* transition: transform 0.3s; */
}

.nav-link span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #3e00ff;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
    transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
    background: none;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
    transform: rotate(45deg);
    top: 6px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
    transform: rotate(-45deg);
    bottom: 1px;
}

.navbar-toggler .navbar-toggler-icon {
    background: #212121;
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    transition: all 0.4s ease;
    position: relative;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.color-mode {
    font-weight: bold;
    cursor: pointer;
}

.color-mode-icon {
    position: relative;
    right: -18px;
}

.color-mode-icon:after {
    font-family: 'unicons';
    content: '\ea9f';
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}

.color-mode-icon.active:after {
    font-family: 'unicons';
    content: '\eb65';
    font-size: 30px;
    color: #ffffff;
}

.dark-mode {
    background: #000;
}

.dark-mode .btn.mr-lg-2.custom-btn {
    border: solid 1px white;
}

.dark-mode .navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.dark-mode .navbar-light .navbar-nav .nav-link:hover {
    color: #3e00ff;
}

.dark-mode .navbar[class*="headroom--not-top"] {
    background: #000000;
    /* border-bottom: 1px solid #495057; */
}

.dark-mode .small-text {
    background: #3E00FF;
    color: #ffffff;
}

.dark-mode #content {
    color: #a7a7a7;
}

.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p,
.dark-mode .color-mode {
    color: #f2e3e3;
}

.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
    color: #3E00FF;
}

.dark-mode .container .card .face.face1 {
    background: #000;
    border: solid 1px #495057;
}

.dark-mode .container .card .face.face2 {
    background: rgb(28, 30, 31);
}

.dark-mode .container .card .face.face2 .content a {
    color: #fafafa;
    border: 1px solid #fbfbfb;
}

.dark-mode .container .card .face.face1 .content h3 {
    color: #fafafa;
}

.dark-mode .timeline-info small {
    color: var(--secondary);
}

.dark-mode .project-image {
    filter: invert(0%);
    -webkit-filter: invert(0%);
}

.dark-mode .navbar-toggler .navbar-toggler-icon {
    background: #f8f9fa;
}

.dark-mode .col-lg-5.mr-lg-5.col-12 {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.dark-mode .contact-btn,
.dark-mode .whatsapp-btn,
.dark-mode #scroll-up i,
.dark-mode .contact-form button[type="submit"] {
    color: rgb(0, 0, 0);
    background-color: #ffffff
}

.dark-mode .contact-form label,
.dark-mode .contact-form input,
.dark-mode .contact-form textarea {
    color: #ffffff;
}

.dark-mode #project,
.dark-mode .main-footer {
    background: linear-gradient(25deg, rgba(0, 0, 0, 0.197) 0%, rgba(20, 19, 19, 1) 100%);
}

.dark-mode #quote-body {
    color: rgb(249, 249, 249);
    background: linear-gradient(-25deg, rgba(0, 0, 0, 0.197) 0%, rgba(20, 19, 19, 1) 100%);
}

.timeline-wrapper {
    position: relative;
    padding: 22px 0;
}

.timeline-wrapper:last-child:before {
    height: 0;
}

.timeline-wrapper:before {
    content: "";
    background: #474559;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 13px;
}

.timeline-yr {
    background: #3E00FF;
    border-radius: 100%;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 75px;
    text-align: center;
}

.timeline-yr span {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 75px;
}

.timeline-info {
    display: inline-block;
    vertical-align: top;
    max-width: 432px;
    margin-left: 4em;
}

.timeline-info small {
    color: #474559;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.owl-carousel .owl-nav span {
    display: none;
}

.owl-carousel .owl-nav .owl-prev:before,
.owl-carousel .owl-nav .owl-next:before {
    background: none;
    padding: 0;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'unicons';
    font-size: 100px;
    line-height: normal;
}

.owl-carousel .owl-nav .owl-prev:before {
    content: '\e833';
    left: -45px;
}

.owl-carousel .owl-nav .owl-next:before {
    content: '\e836';
    right: -45px;
}

.owl-theme .owl-nav [class*=owl-] {
    background: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    color: #3e00ff;
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #5b5b5b;
}

.google-map iframe {
    width: 100%;
}

.contact-form {
    position: relative;
}

.contact-form .form-control {
    background: transparent;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    margin: 16px 0;
}

.contact-form .form-control:not(textarea) {
    height: 48px;
}

.contact-form .form-control:hover,
.contact-form .form-control:focus {
    border-color: #3e00ff;
}

.contact-form .submit-btn {
    background: #3E00FF;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact-form .submit-btn:hover {
    background: #474559;
}

.contact-info {
    /* background: #474559; */
    border-radius: 0 0 3px 3px;
    position: relative;
    bottom: 8px;
}

.contact-info p,
.contact-info a {
    color: #f7f3f3;
}

.social-links .uil {
    color: rgb(0, 0, 0);
    font-size: 25px;
    display: block;
    margin: -45px 5px;
}

.social-links .uil:hover {
    color: #3e00ff;
}

@media (min-width: 1270px) {
    .owl-theme .owl-dots {
        position: relative;
        bottom: 50px;
    }
}

@media (max-width: 991px) {
    .full-screen {
        padding-bottom: 4rem;
    }
    .color-mode {
        display: flex;
    }
    .about-image {
        margin-top: 4em;
    }
    .mobile-mt-2,
    .contact-form {
        margin-top: 2em;
    }
    .contact-info {
        padding: 0 2rem;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 2em;
    }
    .animated-item {
        font-size: 28px;
    }
    .navbar-collapse {
        /* background: #ffffff; */
        text-align: center;
        padding-bottom: 20px;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding: 3px 20px;
    }
}

@media (max-width: auto) {
    .animated-info {
        min-width: 200px;
    }
    .animated-item {
        font-size: 30px;
    }
    .custom-btn-group {
        text-align: center;
    }
    .custom-btn {
        display: block;
        margin: 10px 0;
    }
    .owl-theme .owl-nav {
        display: none;
    }
    .timeline-info small {
        display: block;
        margin: 10px 0 0 0;
    }
}

@media (max-width: 320px) {
    .animated-text {
        margin-top: 0;
    }
    .about-text {
        text-align: center;
    }
    .full-screen {
        padding: 4rem 0;
    }
    .mobile-block {
        display: block;
    }
    .contact-info {
        flex-direction: column;
    }
    .social-links li {
        display: inline-block;
        vertical-align: top;
    }
}

.main-footer {
    padding-bottom: 50px;
    margin-top: 50px;
    background-color: rgb(249 249 249);
}

.ag-format-container {
    width: auto;
    display: flex;
}


/* Style for the social media cards */

.project {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: auto;
}

.project-image {
    background-color: #3e00ff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

span .project-small {
    font-size: 15px;
    text-align: center;
}

.container .card {
    position: relative;
    cursor: pointer;
}

.container .card .face {
    max-width: 300px;
    height: 200px;
    transition: 0.5s;
    margin-inline: 15px;
}

.container .card .face.face1 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container .card:hover .face.face1 {
    background: #3e00ff;
    transform: translateY(0);
}

.container .card .face.face1 .content {
    transition: 0.5s;
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content img {
    max-width: 100px;
}

.container .card .face.face1 .content h3 {
    margin: 15px 0 0;
    padding: 0;
    color: #000;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 40px 0px;
    transform: translateY(-100px);
    border-radius: 5px;
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a:hover {
    color: #fff;
}

.mb-4-contact {
    color: #f3f3f3;
}

.contact-info-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.features {
    align-items: start;
}


/* contact form */

.contact-form-wrapper,
.whatsapp-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: bottom 0.3s ease-out;
    -webkit-transition: bottom 0.3s ease-out;
    -moz-transition: bottom 0.3s ease-out;
    -ms-transition: bottom 0.3s ease-out;
    -o-transition: bottom 0.3s ease-out;
}

.contact-form-wrapper.show,
.whatsapp-wrapper.show {
    max-height: 500px;
    /*adjusttoyourdesiredmaxheight*/
    transition: bottom 0.5s ease-in;
    transform: translateX(0) translateY(0);
    /*slidedownsmoothly*/
    -webkit-transition: bottom 0.5s ease-in;
    -moz-transition: bottom 0.5s ease-in;
    -ms-transition: bottom 0.5s ease-in;
    -o-transition: bottom 0.5s ease-in;
}

.contact-form {
    border-radius: 5px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #000
}

.contact-form input {
    color: black;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 25%);
    color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact-form button[type="submit"] {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact-form button[type="submit"]:hover {
    background-color: #3e00ff;
}

.contact-btn,
.whatsapp-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 12px 60px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
}

.whatsapp-btn:hover {
    background-color: #25d366;
}

.contact-btn:hover {
    background-color: #ea4335;
}

.whatsapp-wrapper img {
    width: 50px;
}

#scroll-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 9999;
}

#scroll-up i {
    font-size: 24px;
    color: white;
    background-color: black;
    border-radius: 12px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

#scroll-up:hover i {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}